<p>
    <h2>Team B</h2>
</p>

<partial name="_StudentTPartial" />

<table class="table table-striped table-light">
    <thead>
        <tr>
            <th scope="col"><a asp-controller="Student" asp-action="List"> Root </a></th>
        </tr>
    </thead>
</table>