<head>
    <p>
        <h1>DOT NET Batch 2</h1>
    </p>
</head>

<partial name="_StudentTPartial" />

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col"> <a asp-controller="Student" asp-action="ListA">Team A</a></th>
            <th scope="col"><a asp-controller="Student" asp-action="ListB">Team B</a></th>
            <th scope="col"><a asp-controller="Student" asp-action="ListC">Team C</a></th>
            <th scope="col"><a asp-controller="Student" asp-action="ListD">Team D</a></th>
        </tr>
    </thead>
</table>

