@using PieWorkShop.ViewModels
@model CustomClass

<html>
    <head>
        <p>
            <h4>SPOC List </h4>
            <p>Total SPOC: @Model.count</p>
        </p> 
    </head>
    <body>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Gender</th>
             
            </tr>
          </thead>
            <tbody>
            @foreach(var student in Model.students)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Gender</td>
                   
                </tr>                  

            }  
            </tbody>
        </table>

        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"><a asp-controller="Student" asp-action="List"> Root </a></th>
            </tr>
          </thead>
        </table>

    </body>
</html>
